#iframe_video iframe {
    width: 100px !important;
    height: 100px !important;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid #8a99b5;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    padding: 4px;
    color: #8a99b5;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #8a99b5;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    margin-left: 3px;
    color: #8a99b5;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    color: #8a99b5;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #8a99b5 !important;
}

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
    background: #272e48;
}

table.dataTable tbody tr {
    background-color: transparent !important;
}
